@import '../../scss/variables.scss';

.process {
    padding: 5rem 7rem;
    min-height: 80vh;

    @media (max-width: 480px) {
        padding: 2rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    h3 {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
            color: $pink;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    p {
        font-size: 1.5rem !important;

        @media (max-width: 480px) {
            font-size: 1.2rem !important;
        }
    }
}